<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- truID Connect SDK is served from truID's static NuGet v3 feed. -->
    <add key="truID" value="https://packages.truid.io/nuget/v3/index.json" />
  </packageSources>
</configuration>
